<div class="row">
  <div class="col-12">
    <img [src]="recipe.imagePath" alt="{{ recipe.name }}" style="max-height: 200px;">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h2>{{ recipe.name }}</h2>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownManageButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Manage
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownManageButton">
        <a class="dropdown-item" (click)="onAddToShoppingList()">To shopping list</a>
        <a class="dropdown-item" (click)="onEditRecipe()">Edit</a>
        <a class="dropdown-item" (click)="onDeleteRecipe()">Delete</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <p>{{ recipe.desc }}</p>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h2>Ingredients</h2>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">{{ingredient.name}} ({{ingredient.amount}})</li>
    </ul>
  </div>
</div>
